.popup__close {
    background-image: url(../../../images/Close-Icon.svg);
    position: absolute;
    top: -40px;
    right: -40px;
    width: 32px;
    height: 32px;
    padding: 0;
    border-style: none;
    background-color: rgba(0, 0, 0, 0);
}

.popup__close:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media screen and (max-width: 680px) {
    .popup__close {
        background-size: 20px 20px;
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-position: center center;
        right: 0;
        top: -37px;
    }
}