.profile__intro {
  max-width: 336px;
  margin: 26px auto 0 0;
  padding: 0;
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-template-columns: 294px 24px;
  grid-template-rows: 39px 18px;
  row-gap: 16px;
  column-gap: 18px;
}

@media screen and (max-width: 680px) {
  .profile__intro {
    max-width: 282px;
    width: 88%;
    justify-items: center;
    grid-template-columns: 1fr 18px;
    grid-template-rows: 26px 14px;
    gap: 14px 9px;
    margin: 0 auto;
  }
}