.popup__item {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 0;
    width: 358px;
    height: 27px;
    border-style: none;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

@media screen and (max-width: 680px) {
    .popup__item {
        width: 238px;
    }
}