.profile__image {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
.profile__image:hover {
  background: url(../../../images/pencil.png);
  background-position: center;
  background-size: 26px 26px;
  background-repeat: no-repeat;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
}