@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/pages/pages.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/profile/__intro/profile__intro.css);
@import url(./blocks/profile/__image/profile__image.css);
@import url(./blocks/profile/__button/profile__button.css);
@import url(./blocks/profile/__title/profile__title.css);
@import url(./blocks/profile/__subtitle/profile__subtitle.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__block-avatar/profile__block-avatar.css);
@import url(./blocks/elements/elements.css);
@import url(./blocks/element/element.css);
@import url(./blocks/element/__image/element__image.css);
@import url(./blocks/element/__container/element__container.css);
@import url(./blocks/element/__text/element__text.css);
@import url(./blocks/element/__heart/element__heart.css);
@import url(./blocks/element/__like/__like.css);
@import url(./blocks/element/like-number/like-number.css);
@import url(./blocks/element/__delete/element__delete.css);
@import url(./blocks/element/__heart/_active/element__heart_active.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__text/footer__text.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__container/popup__container.css);
@import url(./blocks/popup/__container/_delete/popup__container_delete.css);
@import url(./blocks/popup/__container/_avatar/popup__container_avatar.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/popup/_opened/popup_opened.css);
@import url(./blocks/popup/__title/popup__title.css);
@import url(./blocks/popup/__title/_delete/popup__title_delete.css);
@import url(./blocks/popup/__save/popup__save.css);
@import url(./blocks/popup/__save/_delete/popup__save_delete.css);
@import url(./blocks/popup/__item/popup__item.css);
@import url(./blocks/popup/__text/popup__text.css);
@import url(./blocks/popup/__images/popup__images.css);
@import url(./blocks/popup/__image/popup__image.css);
@import url(./blocks/popup/__pictire/popup__pictire.css);
@import url(./blocks/popup/__message/_activ/popup__message_active.css);
@import url(./blocks/popup/__message/popup__message.css);
@import url(./blocks/popup/__label/popup__label.css);
@import url(./blocks/popup/__save/_notactiv/popup__save_notactive.css);
@import url(./blocks/popup/__item/_error/popup__item_error.css);