.header {
    max-width: 880px;
    display: flex;
    margin: 0 auto;
    padding: 0;
    padding-bottom: 41px;
    padding-top: 45px;
    border-bottom: 1px solid rgb(84, 84, 84, 0.7);
}

@media screen and (max-width: 580px) {
    .header {
        padding-top: 28px;
        padding-left: 27px;
        padding-bottom: 32px;
    }
}

@media screen and (max-width: 899px) and (min-width: 581px) {
    .header {
        padding-left: 41px;
    }
}